/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
      90deg,
      #FEE368 10%,
      #DF4F4F 50%
  );

  --vp-home-hero-image-background-image: linear-gradient(
      -45deg,
      #FF6A3E 30%,
      #FEE368 50%
  );
  --vp-home-hero-image-filter: blur(62px);

  --vp-button-brand-border: #DF4F4F;
  --vp-button-brand-bg: #FF6A3E;
  --vp-button-brand-hover-border: #FF6A3E;
  --vp-button-brand-hover-bg: #DF4F4F;
  --vp-c-brand: #FF6A3E;
  --vp-c-green-dark: #DF4F4F;
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(64px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(96px);
  }
}

/* blockquote */
.vp-doc blockquote {
  border-left-color: var(--vp-badge-tip-text);
}
.vp-doc blockquote > p {
  color: var(--vp-badge-tip-text);
}
/* 좌측 사이드바 구분선 */
.group + .group {
  margin-top: 10px !important;
}

/* h2 붙어있을 경우 */

h2 + h2 {
  border-top: none !important;
  margin-top: 0 !important;
  padding-top: 0 !important;
}