/* *** */
/* 매인 */
/* *** */
#m_width_check {
    overflow: hidden
}
#m_container {
    position: relative;
    width: 750px; height: 1900px;
    overflow: hidden;
    background:url("main/background_750_1900.png") no-repeat center top;
}
#m_responsive {
    width: 0;
    height: 0
}
.m_layer {
    position: absolute; top: 0; left: 0;
    width: 750px; height: 1900px;
}

/* *******************
** 상점 가판대(링크) 관련
** 1.life
** 2.gift
** 3.food
** 4.fashin
** 5.special
** 6.kids
** 7.kitchen
** 8.brand
** ******************* */
.m_shop {
    position: absolute;
    background-image: url("main/shop_1079_533.png");
    transition: transform 0.5s 0s ease
}
#m_shop0 .m_shop:nth-child(1) {
    top: 105px; left: 25px;
    width: 371px; height: 287px;
    background-position: -708px 0px;
}
#m_shop1 .m_shop:nth-child(1) {
    top: 370px; left: 360px;
    width: 363px; height: 255px;
    background-position: 0px -278px;
    animation-delay: .2s
}
#m_shop2 .m_shop:nth-child(1) {
    top: 625px; left: 25px;
    width: 342px; height: 245px;
    background-position: -366px 0px;
    animation-delay: .4s
}
#m_shop2 .m_shop:nth-child(2) {
    top: 905px; left: 50px;
    width: 159px; height: 185px;
    background-position: -874px -287px;
    animation-delay: .6s
}
#m_shop3 .m_shop:nth-child(1) {
    top: 1080px; left: 345px;
    width: 366px; height: 278px;
    background-position: 0px 0px;
    animation-delay: .8s
}
#m_shop3 .m_shop:nth-child(2) {
    top: 1615px; left: 460px;
    width: 254px; height: 182px;
    background-position: -366px -245px;
    animation-delay: 1.4s
}
#m_shop3 .m_shop:nth-child(3) {
    top: 1390px; left: 70px;
    width: 254px; height: 199px;
    background-position: -620px -288px;
    animation-delay: 1s
}
#m_shop3 .m_shop:nth-child(4) {
    top: 1670px; left: 50px;
    width: 139px; height: 101px;
    background-position: -366px -427px;
    animation-delay: 1.2s
}
.m_shop.m_focus, .m_shop.m_blur {
    animation-delay: 0s
}
/* 상점 아이템 관련 */
.m_shop>* {
    position: absolute;
    background-image: url("main/item_833_322.png");
}
#m_shop0 .m_shop:nth-child(1) .m_item1 {
    top: 186px; left: 45px;
    width: 105px; height: 78px;
    background-position: -648px -74px;
}
#m_shop0 .m_shop:nth-child(1) .m_item2 {
    top: 228px; left: 242px;
    width: 80px; height: 53px;
    background-position: -753px -74px;
}
#m_shop0 .m_shop:nth-child(1) .m_item3 {
    top: 157px; left: 155px;
    width: 108px; height: 132px;
    background-position: -427px -85px;
}
#m_shop0 .m_shop:nth-child(1) .m_item4 {
    top: 87px; left: 240px;
    width: 109px; height: 112px;
    background-position: -539px 0px;
}
#m_shop1 .m_shop:nth-child(1) .m_item1 {
    top: 115px; left: 25px;
    width: 134px; height: 74px;
    background-position: -648px 0px;
}
#m_shop1 .m_shop:nth-child(1) .m_item2 {
    top: 105px; left: 260px;
    width: 90px; height: 170px;
    background-position: -662px -152px;
}
#m_shop1 .m_shop:nth-child(1) .m_item3 {
    top: 140px; left: 50px;
    width: 235px; height: 102px;
    background-position: -427px -219px;
}
#m_shop2 .m_shop:nth-child(1) .m_item1 {
    top: 76px; left: 5px;
    width: 141px; height: 98px;
    background-position: 0px 0px;
}
#m_shop2 .m_shop:nth-child(1) .m_item2 {
    top: 130px; left: 202px;
    width: 115px; height: 59px;
    background-position: -141px 0px;
}
#m_shop2 .m_shop:nth-child(1) .m_item3 {
    top: 180px; left: 119px;
    width: 99px; height: 80px;
    background-position: -327px -132px;
}
#m_shop2 .m_shop:nth-child(1) .m_item4 {
    top: 200px; left: 40px;
    width: 60px; height: 53px;
    background-position: -256px 0px;
}
#m_shop2 .m_shop:nth-child(2) .m_item1 {
    top: 62px; left: -22px;
    width: 56px; height: 112px;
    background-position: 0px -191px;
}
#m_shop2 .m_shop:nth-child(2) .m_item2 {
    top: 56px; left: 133px;
    width: 53px; height: 73px;
    background-position: -56px -191px;
}
#m_shop2 .m_shop:nth-child(2) .m_item3 {
    top: 80px; left: 15px;
    width: 145px; height: 93px;
    background-position: 0px -98px;
}
#m_shop2 .m_shop:nth-child(2) .m_item4 {
    top: 104px; left: 60px;
    width: 56px; height: 62px;
    background-position: -752px -128px;
}
#m_shop2 .m_shop:nth-child(2) .m_item5 {
    top: 180px; left: -20px;
    width: 105px; height: 49px;
    background-position: -109px -206px;
}
#m_shop3 .m_shop:nth-child(1) .m_item1 {
    top: 115px; left: 0px;
    width: 171px; height: 79px;
    background-position: -145px -59px
}
#m_shop3 .m_shop:nth-child(1) .m_item2 {
    top: 193px; left: 140px;
    width: 112px; height: 85px;
    background-position: -427px 0px;
}
#m_shop3 .m_shop:nth-child(1) .m_item3 {
    top: 112px; left: 239px;
    width: 111px; height: 132px;
    background-position: -316px 0px;
}
#m_shop3 .m_shop:nth-child(1) .m_item4 {
    top: 153px; left: 68px;
    width: 182px; height: 68px;
    background-position: -145px -138px;
}
#m_shop3 .m_shop:nth-child(2) .m_item1 {
    top: 60px; left: 180px;
    width: 74px; height: 113px;
    background-position: -214px -206px;
}
#m_shop3 .m_shop:nth-child(2) .m_item2 {
    top: 90px; left: 10px;
    width: 95px; height: 55px;
    background-position: -112px -255px;
}
#m_shop3 .m_shop:nth-child(2) .m_item3 {
    top: 90px; left: 110px;
    width: 84px; height: 96px;
    background-position: -288px -212px;
}
#m_shop3 .m_shop:nth-child(3) .m_item1 {
    top: 99px; left: 128px;
    width: 48px; height: 47px;
    background-position: -56px -264px;
}
#m_shop3 .m_shop:nth-child(3) .m_item2 {
    top: 78px; left: 181px;
    width: 51px; height: 49px;
    background-position: -376px -212px;
}
#m_shop3 .m_shop:nth-child(3) .m_item3 {
    top: 43px; left: 123px;
    width: 54px; height: 43px;
    background-position: -373px -261px;
}
#m_shop3 .m_shop:nth-child(3) .m_item4 {
    top: 140px; left: 60px;
    width: 104px; height: 84px;
    background-position: -534px -112px;
}
#m_shop3 .m_shop:nth-child(4) .m_item1 {
    top: 48px; left: 20px;
    width: 73px; height: 41px;
    background-position: -752px -190px;
}
#m_shop3 .m_shop:nth-child(4) .m_item2 {
    top: 39px; left: 89px;
    width: 24px; height: 31px;
    background-position: -808px -128px;
}
#m_shop3 .m_shop:nth-child(4) .m_item3 {
    top: 43px; left: 108px;
    width: 31px; height: 50px;
    background-position: -782px 0px;
}
/* 링크 */
#m_link a {
    position: absolute
}
#m_link a:nth-child(1) {
    top: 105px; left: 25px;
    width: 371px; height: 287px;
}
#m_link a:nth-child(2) {
    top: 370px; left: 360px;
    width: 363px; height: 255px;
}
#m_link a:nth-child(3) {
    top: 625px; left: 25px;
    width: 342px; height: 245px;
}
#m_link a:nth-child(4) {
    top: 905px; left: 50px;
    width: 159px; height: 185px;
}
#m_link a:nth-child(5) {
    top: 1080px; left: 345px;
    width: 366px; height: 278px;
}
#m_link a:nth-child(6) {
    top: 1390px; left: 70px;
    width: 254px; height: 199px;
}
#m_link a:nth-child(7) {
    top: 1670px; left: 50px;
    width: 139px; height: 101px;
}
#m_link a:nth-child(8) {
    top: 1615px; left: 460px;
    width: 254px; height: 182px;
}
/* 라이트 */
.m_light {
    position: absolute;
    top: 805px; left: 442px;
    width: 58px; height: 16px;
    overflow: hidden;
    opacity: 0;
    animation: m_bounceInDown .5s  1s ease forwards;
}
.m_light::before {
    position: absolute;
    background-image: url("main/light_58_64.png");
    width: 58px; height: 64px;
    animation: light 3s steps(1) infinite;
    content: ''
}
/* 렘프 */
.m_lamp {
    position: absolute;
    opacity: 0;
    animation: m_bounceInDown .5s  1s ease forwards;
}
.m_lamp .m_lamp_ani {
    width: 134px; height: 122px;
    overflow: hidden;
}
.m_lamp_ani::before {
    position: absolute;
    background-image: url("main/lamp_402_122.png");
    width: 402px; height: 122px;
    animation: lamp 6s steps(1) infinite;
    content: ''
}
.m_lamp:nth-child(1) {
    top: 790px; left: -30px;
    animation-delay: .5s
}
.m_lamp:nth-child(2) {
    top: 700px; left: 300px;
    animation-delay: .75s
}
.m_lamp:nth-child(3) {
    top: 590px; left: 160px;
    animation-delay: 1.25s
}
.m_lamp:nth-child(1) .m_lamp_ani {
	transform: scale(1)
}
.m_lamp:nth-child(2) .m_lamp_ani {
	transform: scale(.85)
}
.m_lamp:nth-child(3) .m_lamp_ani {
	transform: scale(.7)
}
/* 나무 */
.m_tree {
    position: absolute;
    background-image: url("main/tree_470_377.png");
    transform-origin: 50% 100%;
    animation-name: m_wobble;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}
.m_tree:nth-child(3n+1) {
    animation-delay: .7s
}
.m_tree:nth-child(3n+2) {
    animation-delay: 1.4s
}
#m_tree0 .m_tree:nth-child(1) {
    top: 100px; left: 700px;
    width: 29px; height: 73px;
    background-position: -441px -280px;
}
#m_tree0 .m_tree:nth-child(2) {
    top: 115px; left: 670px;
    width: 42px; height: 62px;
    background-position: -390px -222px;
}
#m_tree0 .m_tree:nth-child(3) {
    top: 120px; left: 635px;
    width: 38px; height: 55px;
    background-position: -356px -294px;
}
#m_tree0 .m_tree:nth-child(4) {
    top: 110px; left: 615px;
    width: 29px; height: 73px;
    background-position: -441px -280px
}
#m_tree0 .m_tree:nth-child(5) {
    top: 115px; left: 565px;
    width: 47px; height: 70px;
    background-position: -394px -284px;
}
#m_tree0 .m_tree:nth-child(6) {
    top: 100px; left: 475px;
    width: 42px; height: 101px;
    background-position: -348px -193px;
}
#m_tree0 .m_tree:nth-child(7) {
    top: 135px; left: 440px;
    width: 42px; height: 62px;
    background-position: -390px -222px;
}
#m_tree0 .m_tree:nth-child(8) {
    top: 135px; left: 420px;
    width: 35px; height: 83px;
    background-position: -321px -294px;
}
#m_tree1 .m_tree:nth-child(1) {
    top: 455px; left: 115px;
    width: 89px; height: 137px;
    background-position: -374px 0px;
}
#m_tree1 .m_tree:nth-child(2) {
    top: 445px; left: 40px;
    width: 111px; height: 193px;
    background-position: -263px 0px;
}
#m_tree1 .m_tree:nth-child(3) {
    top: 250px; left: 495px;
    width: 72px; height: 105px;
    background-position: -75px -233px;
}
#m_tree1 .m_tree:nth-child(4) {
    top: 245px; left: 565px;
    width: 89px; height: 137px;
    background-position: -374px 0px;
}
#m_tree1 .m_tree:nth-child(5) {
    top: 240px; left: 615px;
    width: 111px; height: 193px;
    background-position: -263px 0px;
}
#m_tree2 .m_tree:nth-child(1) {
    top: 680px; left: 445px;
    width: 63px; height: 98px;
    background-position: -285px -193px;
}
#m_tree2 .m_tree:nth-child(2) {
    top: 665px; left: 410px;
    width: 62px; height: 148px;
    background-position: -147px -191px;
}
#m_tree2 .m_tree:nth-child(3) {
    top: 665px; left: 515px;
    width: 75px; height: 125px;
    background-position: 0px -233px;
}
#m_tree2 .m_tree:nth-child(4) {
    top: 700px; left: 575px;
    width: 72px; height: 105px;
    background-position: -75px -233px;
}
#m_tree3 .m_tree:nth-child(1) {
    top: 1180px; left: 110px;
    width: 72px; height: 105px;
    background-position: -75px -233px;
}
#m_tree3 .m_tree:nth-child(2) {
    top: 1160px; left: 75px;
    width: 62px; height: 148px;
    background-position: -147px -191px;
}
#m_tree3 .m_tree:nth-child(3) {
    top: 1240px; left: 20px;
    width: 75px; height: 125px;
    background-position: 0px -233px;
}
#m_tree3 .m_tree:nth-child(4) {
    top: 1340px; left: 585px;
    width: 140px; height: 234px;
    background-position: 0px 0px;
}
#m_tree3 .m_tree:nth-child(5) {
    top: 1465px; left: 535px;
    width: 89px; height: 137px;
    background-position: -374px 0px;
}
#m_tree3 .m_tree:nth-child(6) {
    top: 795px; left: 645px;
    width: 75px; height: 125px;
    background-position: 0px -233px;
}
#m_tree3 .m_tree:nth-child(7) {
    top: 850px; left: 600px;
    width: 62px; height: 148px;
    background-position: -147px -191px;
}
/* 워킹맨 */
.m_walking_man {
    position: absolute;
    background-image: url("main/woman_ani_n_n.png");
    top: 865px; left: 300px;
    width: 124px; height: 208px;
    background-position: 0px 0px;
    animation-delay: .2s
}
/* 사람 */
.m_women {
    position: absolute;
    background-image: url("main/woman_226_309.png");
}
#m_women1 .m_women:nth-child(1) {
    top: 410px; left: 290px;
    width: 77px; height: 147px;
    background-position: -94px 0px;
    animation-delay: .8s
}
#m_women2 .m_women:nth-child(1) {
    top: 1145px; left: 280px;
    width: 66px; height: 133px;
    background-position: 0px 0px;
    animation-delay: 1s
}
#m_women3 .m_women:nth-child(1) {
    top: 1030px; left: 640px;
    width: 89px; height: 133px;
    background-position: 0px -176px;
    animation-delay: .4s
}
#m_women3 .m_women:nth-child(2) {
    top: 1715px; left: 400px;
    width: 68px; height: 115px;
    background-position: -154px -147px;
    animation-delay: .6s
}
/* 오브젝트 */
.m_object {
    position: absolute;
    background-image: url("main/object_220_119.png");
}
#m_object2 .m_object:nth-child(1) {
    top: 800px; left: 420px;
    width: 122px; height: 114px;
    background-position: 0px 0px;
    animation-delay: .6s
}
#m_object3 .m_object:nth-child(1) {
    top: 1035px; left: 600px;
    width: 49px; height: 109px;
    background-position: -122px 0px;
    animation-delay: 1s
}
/* 낙엽 떨어지는 */
.m_leaf {
    position: absolute;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    opacity: 0
}
.m_leaf::before {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(main/leaf_87_32.png);
    content: ''
}
.m_leaf::before {
    animation-name: waves;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}
.m_leaf:nth-child(2n)::before { /* 낙엽 이미지1, 애니속도1 */
    width: 39px;
    height: 32px;
    background-position: 0px 0px;
    animation-duration: 2.5s;
}
.m_leaf:nth-child(2n + 1)::before { /* 낙엽 이미지2, 애니속도2 */
    width: 48px;
    height: 31px;
    background-position: -39px 0px;
    animation-duration: 2s;
}
.m_leaf:nth-child(3n)::before { /* 웨이브 강도1 */
    transform-origin: 50% -180%;
}
.m_leaf:nth-child(3n + 1)::before { /* 웨이브 강도2 */
    transform-origin: 50% -90%;
}
.m_leaf:nth-child(3n + 2)::before { /* 웨이브 강도3 */
    transform-origin: 50% 0%;
}
.m_falled::before { /* 낙엽 웨이브 정지 */
    animation-play-state: paused
}
#m_leaf0 .m_leaf:nth-child(1) {
    top: 280px;
    left: 281px;
}
#m_leaf0 .m_leaf:nth-child(2) {
    top: 204px;
    left: 399px;
}
#m_leaf0 .m_leaf:nth-child(3) {
    top: 264px;
    left: 358px;
}
#m_leaf0 .m_leaf:nth-child(4) {
    top: 270px;
    left: 405px;
}
#m_leaf0 .m_leaf:nth-child(5) {
    top: 267px;
    left: 432px;
}
#m_leaf0 .m_leaf:nth-child(6) {
    top: 158px;
    left: 595px;
}
#m_leaf0 .m_leaf:nth-child(7) {
    top: 176px;
    left: 633px;
}
#m_leaf0 .m_leaf:nth-child(8) {
    top: 162px;
    left: 659px;
}
#m_leaf0 .m_leaf:nth-child(9) {
    top: 171px;
    left: 712px;
}
#m_leaf0 .m_leaf:nth-child(10) {
    top: 338px;
    left: 586px;
}
#m_leaf0 .m_leaf:nth-child(11) {
    top: 375px;
    left: 614px;
}
#m_leaf0 .m_leaf:nth-child(12) {
    top: 382px;
    left: 605px;
}
#m_leaf0 .m_leaf:nth-child(13) {
    top: 411px;
    left: 651px;
}
#m_leaf0 .m_leaf:nth-child(14) {
    top: 428px;
    left: 700px;
}
#m_leaf1 .m_leaf:nth-child(1) {
    top: 597px;
    left: 51px;
}
#m_leaf1 .m_leaf:nth-child(2) {
    top: 561px;
    left: 113px;
}
#m_leaf1 .m_leaf:nth-child(3) {
    top: 599px;
    left: 92px;
}
#m_leaf1 .m_leaf:nth-child(4) {
    top: 603px;
    left: 92px;
}
#m_leaf1 .m_leaf:nth-child(5) {
    top: 577px;
    left: 150px;
}
#m_leaf2 .m_leaf:nth-child(1) {
    top: 782px;
    left: 480px;
}
#m_leaf2 .m_leaf:nth-child(2) {
    top: 775px;
    left: 498px;
}
#m_leaf2 .m_leaf:nth-child(3) {
    top: 813px;
    left: 507px;
}
#m_leaf2 .m_leaf:nth-child(4) {
    top: 798px;
    left: 515px;
}
#m_leaf2 .m_leaf:nth-child(5) {
    top: 775px;
    left: 593px;
}
#m_leaf2 .m_leaf:nth-child(6) {
    top: 928px;
    left: 659px;
}
#m_leaf2 .m_leaf:nth-child(7) {
    top: 968px;
    left: 684px;
}
#m_leaf2 .m_leaf:nth-child(8) {
    top: 970px;
    left: 654px;
}
#m_leaf2 .m_leaf:nth-child(9) {
    top: 1013px;
    left: 620px;
}
#m_leaf2 .m_leaf:nth-child(10) {
    top: 1007px;
    left: 615px;
}
#m_leaf3 .m_leaf:nth-child(1) {
    top: 1303px;
    left: 36px;
}
#m_leaf3 .m_leaf:nth-child(2) {
    top: 1319px;
    left: 71px;
}
#m_leaf3 .m_leaf:nth-child(3) {
    top: 1345px;
    left: 100px;
}
#m_leaf3 .m_leaf:nth-child(4) {
    top: 1332px;
    left: 141px;
}
#m_leaf3 .m_leaf:nth-child(5) {
    top: 1346px;
    left: 161px;
}
#m_leaf3 .m_leaf:nth-child(6) {
    top: 1581px;
    left: 542px;
}
#m_leaf3 .m_leaf:nth-child(7) {
    top: 1567px;
    left: 613px;
}
#m_leaf3 .m_leaf:nth-child(8) {
    top: 1560px;
    left: 604px;
}
#m_leaf3 .m_leaf:nth-child(9) {
    top: 1593px;
    left: 628px;
}
#m_leaf3 .m_leaf:nth-child(10) {
    top: 1577px;
    left: 683px;
}
#m_leaf4 .m_leaf:nth-child(1) {
    top: 1672px;
    left: 315px;
}
#m_leaf4 .m_leaf:nth-child(2) {
    top: 1725px;
    left: 246px;
}
#m_leaf4 .m_leaf:nth-child(3) {
    top: 1712px;
    left: 288px;
}
#m_leaf4 .m_leaf:nth-child(4) {
    top: 1709px;
    left: 302px;
}
#m_leaf4 .m_leaf:nth-child(5) {
    top: 1731px;
    left: 325px;
}

/* **************** */
/* 애니매이션 키프레임 */
/* **************** */
/* 사람 등장 */
@keyframes m_flipInY {
  0% {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  100% {
    opacity: 1;
    transform: perspective(400px);
  }
}
.m_women {
  opacity: 0;
  animation-name: m_flipInY;
  animation-duration: .75s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
/* 상점 등장 */
@keyframes m_bounceIn {

  0% {
    opacity: 0;
    transform: scale(.8);
  }

  20% {
    transform: scale(1.05);
  }

  40% {
    transform: scale(.95);
  }

  60% {
    opacity: 1;
    transform: scale(1.025);
  }

  80% {
    transform: scale(.975);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.m_object, .m_shop {
/*  animation: m_bounceIn 1s ease;*/
  opacity: 0;
  animation-name: m_bounceIn;
  animation-duration: .75s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
/* 기타오브젝트 등장 */
@keyframes m_bounceInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -200px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
/* 나무가 살랑살랑 */
@keyframes m_wobble {
  0% {
    transform: skew(0);
  }
  20% {
    transform: skew(-4deg);
  }
  40% {
    transform: skew(-2deg);
  }
  70% {
    transform: skew(-6deg);
  }
  100% {
    transform: skew(0);
  }
}
/* 낙엽 낙하 */
@keyframes falling1 {
    0% {
        transform: translateY(-1850px) scale(.45);
        opacity: 1
    }
    100% {
        transform: translateY(0px) scale(.45);
        opacity: 1
    }
}
@keyframes falling2 {
    0% {
        transform: translateY(-1850px) scale(.7);
        opacity: 1
    }
    100% {
        transform: translateY(0px) scale(.7);
        opacity: 1
    }
}
@keyframes waves {
    from {
        transform: translateX(-25px) rotate(30deg)
    }
    to {
        transform: translateX(25px) rotate(-30deg)
    }
}
@keyframes lamp {
    0%, 100% {
        transform: translateX(0px)
    }
    12.5%, 37.5%, 62.5%, 87.5% {
        transform: translateX(-134px)
    }
    25%, 50%, 75% {
        transform: translateX(-268px)
    }
}
@keyframes light {
    0%, 100% {
        transform: translateY(0px)
    }
    25% {
        transform: translateY(-16px)
    }
    50% {
        transform: translateY(-32px)
    }
    75% {
        transform: translateY(-48px)
    }
}