
body {
  cursor:url("https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FcIwR9P%2FbtraRjIi6El%2FofkcHd4wk3BWMKZorWGH0k%2Fimg.png"),auto;
}

.chat-room-img {
  width: 40px;
}
.chat-item {
  font-size: 13px;
}
.chat-window {
  resize: none
}