/* *** */
/* 매인 */
/* *** */
#m_container {
    position: relative;
    width: 100%; height: 1000px;
	top:-43px;
    overflow: hidden; background:url("main/bg_1920_1000.png") no-repeat center top;
}
.m_layer {
    position: absolute; top: 0; left: 50%; transform: translateX(-50%);
    width: 1280px; height: 1080px;
    z-index: 0
}
img[usemap], map area{
    outline: none;
	outline: 0;
}
*:focus
{
outline: none;
outline-width: 0;
}
area:focus{
  border: none;
  outline-style: none; 
  -moz-outline-style:none;  
}
#m_img_map {
    width: 100%; height: 100%
}

/* *******************
** 상점 가판대(링크) 관련
** 1.special
** 2.kids
** 3.brand
** 1.life
** 2.fashin
** 3.kitchen
** 1.gift
** 2.food
** ******************* */
.m_shop {
    position: absolute;
    background-image: url("main/shop_1079_533.png");
    transition: transform 0.5s 0s ease
}
#m_shop0 .m_shop:nth-child(1) {
    top: 229px; left: 233px;
    width: 254px; height: 182px;
    background-position: -366px -245px;
    animation-delay: .8s
}
#m_shop0 .m_shop:nth-child(2) {
    top: 184px; left: 597px;
    width: 254px; height: 199px;
    background-position: -620px -288px;
    animation-delay: 1s
}
#m_shop0 .m_shop:nth-child(3) {
    top: 178px; left: 958px;
    width: 139px; height: 101px;
    background-position: -366px -427px;
    animation-delay: 1.4s
}
#m_shop1 .m_shop:nth-child(1) {
    top: 450px; left: 453px;
    width: 366px; height: 278px;
    background-position: 0px 0px;
}
#m_shop1 .m_shop:nth-child(2) {
    top: 379px; left: 116px;
    width: 159px; height: 185px;
    background-position: -874px -287px;
    animation-delay: .6s
}
#m_shop1 .m_shop:nth-child(3) {
    top: 279px; left: 881px;
    width: 363px; height: 255px;
    background-position: 0px -278px;
    animation-delay: 1.2s
}
#m_shop2 .m_shop:nth-child(1) {
    top: 618px; left: 18px;
    width: 342px; height: 245px;
    background-position: -366px 0px;
    animation-delay: .2s
}
#m_shop2 .m_shop:nth-child(2) {
    top: 580px; left: 898px;
    width: 371px; height: 287px;
    background-position: -708px 0px;
    animation-delay: .4s
}
.m_shop.m_focus, .m_shop.m_blur {
    animation-delay: 0s
}
/* 상점 아이템 관련 */
.m_shop>* {
    position: absolute;
    background-image: url("main/item_833_322.png");
    animation-duration: 1s;
}
#m_shop0 .m_shop:nth-child(2).m_focus>* {
    animation-name: m_shake
}
#m_shop0 .m_shop:nth-child(1).m_focus>*, #m_shop0 .m_shop:nth-child(3).m_focus>* {
    animation-name: m_rubberBand
}
#m_shop1 .m_shop:nth-child(2)>* {
    animation-timing-function: ease-out;
    transform-origin: 50% 5%;
}
#m_shop1 .m_shop:nth-child(1).m_focus>*, #m_shop1 .m_shop:nth-child(3).m_focus>* {
    animation-name: m_rubberBand
}
#m_shop1 .m_shop:nth-child(2).m_focus>* {
    animation-name: m_flip
}
#m_shop2 .m_shop:nth-child(1).m_focus>*, #m_shop2 .m_shop:nth-child(2).m_focus>* {
    animation-name: m_shake
}
.m_item2 {
    animation-delay: .1s
}
.m_item3 {
    animation-delay: .2s
}
.m_item4 {
    animation-delay: .3s
}
#m_shop0 .m_shop:nth-child(1) .m_item1 {
    top: 60px; left: 0px;
    width: 74px; height: 113px;
    background-position: -214px -206px;
}
#m_shop0 .m_shop:nth-child(1) .m_item2 {
    top: 90px; left: 148px;
    width: 95px; height: 55px;
    background-position: -112px -255px;
}
#m_shop0 .m_shop:nth-child(1) .m_item3 {
    top: 90px; left: 60px;
    width: 84px; height: 96px;
    background-position: -288px -212px;
}
#m_shop0 .m_shop:nth-child(2) .m_item1 {
    top: 99px; left: 128px;
    width: 48px; height: 47px;
    background-position: -56px -264px;
}
#m_shop0 .m_shop:nth-child(2) .m_item2 {
    top: 78px; left: 181px;
    width: 51px; height: 49px;
    background-position: -376px -212px;
}
#m_shop0 .m_shop:nth-child(2) .m_item3 {
    top: 43px; left: 123px;
    width: 54px; height: 43px;
    background-position: -373px -261px;
}
#m_shop0 .m_shop:nth-child(2) .m_item4 {
    top: 140px; left: 60px;
    width: 104px; height: 84px;
    background-position: -534px -112px;
}
#m_shop0 .m_shop:nth-child(3) .m_item1 {
    top: 48px; left: 20px;
    width: 73px; height: 41px;
    background-position: -752px -190px;
}
#m_shop0 .m_shop:nth-child(3) .m_item2 {
    top: 39px; left: 89px;
    width: 24px; height: 31px;
    background-position: -808px -128px;
}
#m_shop0 .m_shop:nth-child(3) .m_item3 {
    top: 43px; left: 108px;
    width: 31px; height: 50px;
    background-position: -782px 0px;
}
#m_shop1 .m_shop:nth-child(1) .m_item1 {
    top: 115px; left: 0px;
    width: 171px; height: 79px;
    background-position: -145px -59px;
}
#m_shop1 .m_shop:nth-child(1) .m_item2 {
    top: 193px; left: 140px;
    width: 112px; height: 85px;
    background-position: -427px 0px;
}
#m_shop1 .m_shop:nth-child(1) .m_item3 {
    top: 112px; left: 239px;
    width: 111px; height: 132px;
    background-position: -316px 0px;
}
#m_shop1 .m_shop:nth-child(1) .m_item4 {
    top: 153px; left: 68px;
    width: 182px; height: 68px;
    background-position: -145px -138px;
}
#m_shop1 .m_shop:nth-child(2) .m_item1 {
    top: 62px; left: -22px;
    width: 56px; height: 112px;
    background-position: 0px -191px;
}
#m_shop1 .m_shop:nth-child(2) .m_item2 {
    top: 56px; left: 133px;
    width: 53px; height: 73px;
    background-position: -56px -191px;
}
#m_shop1 .m_shop:nth-child(2) .m_item3 {
    top: 80px; left: 15px;
    width: 145px; height: 93px;
    background-position: 0px -98px;
}
#m_shop1 .m_shop:nth-child(2) .m_item4 {
    top: 104px; left: 60px;
    width: 56px; height: 62px;
    background-position: -752px -128px;
}
#m_shop1 .m_shop:nth-child(2) .m_item5 {
    top: 180px; left: -20px;
    width: 105px; height: 49px;
    background-position: -109px -206px;
}
#m_shop1 .m_focus:nth-child(2) .m_item5 { /* 패션 5번째 아이템 애니메이션 */
    animation-name: m_rubberBand;
}
#m_shop1 .m_shop:nth-child(3) .m_item1 {
    top: 115px; left: 25px;
    width: 134px; height: 74px;
    background-position: -648px 0px;
}
#m_shop1 .m_shop:nth-child(3) .m_item2 {
    top: 105px; left: 260px;
    width: 90px; height: 170px;
    background-position: -662px -152px;
}
#m_shop1 .m_shop:nth-child(3) .m_item3 {
    top: 140px; left: 50px;
    width: 235px; height: 102px;
    background-position: -427px -219px;
}
#m_shop2 .m_shop:nth-child(1) .m_item1 {
    top: 76px; left: 5px;
    width: 141px; height: 98px;
    background-position: 0px 0px;
}
#m_shop2 .m_shop:nth-child(1) .m_item2 {
    top: 130px; left: 202px;
    width: 115px; height: 59px;
    background-position: -141px 0px;
}
#m_shop2 .m_shop:nth-child(1) .m_item3 {
    top: 180px; left: 119px;
    width: 99px; height: 80px;
    background-position: -327px -132px;
}
#m_shop2 .m_shop:nth-child(1) .m_item4 {
    top: 200px; left: 40px;
    width: 60px; height: 53px;
    background-position: -256px 0px;
}
#m_shop2 .m_shop:nth-child(2) .m_item1 {
    top: 186px; left: 45px;
    width: 105px; height: 78px;
    background-position: -648px -74px;
}
#m_shop2 .m_shop:nth-child(2) .m_item2 {
    top: 228px; left: 242px;
    width: 80px; height: 53px;
    background-position: -753px -74px;
}
#m_shop2 .m_shop:nth-child(2) .m_item3 {
    top: 157px; left: 155px;
    width: 108px; height: 132px;
    background-position: -427px -85px;
}
#m_shop2 .m_shop:nth-child(2) .m_item4 {
    top: 87px; left: 240px;
    width: 109px; height: 112px;
    background-position: -539px 0px;
}
/* 라이트 */
.m_light {
    position: absolute;
    top: 823px; left: 765px;
    width: 58px; height: 16px;
    overflow: hidden;
    opacity: 0;
    animation: m_bounceInDown .5s  1s ease forwards;
}
.m_light::before {
    position: absolute;
    background-image: url("main/light_58_64.png");
    width: 58px; height: 64px;
    animation: light 3s steps(1) infinite;
    content: ''
}
/* 렘프 */
.m_lamp {
    position: absolute;
    opacity: 0;
    animation: m_bounceInDown .5s  1s ease forwards;
}
.m_lamp .m_lamp_ani {
    width: 134px; height: 122px;
    overflow: hidden;
}
.m_lamp_ani::before {
    position: absolute;
    background-image: url("main/lamp_402_122.png");
    width: 402px; height: 122px;
    animation: lamp 6s steps(1) infinite;
    content: ''
}
.m_lamp:nth-child(1) {
    top: 725px; left: -80px;
    animation-delay: .5s;
}
.m_lamp:nth-child(2) {
    top: 770px; left: 320px;
    animation-delay: .75s
}
.m_lamp:nth-child(3) {
    top: 590px; left: 160px;
    animation-delay: 1.25s
}
.m_lamp:nth-child(1) .m_lamp_ani {
	transform: scale(.85)
}
.m_lamp:nth-child(2) .m_lamp_ani {
	transform: scale(1)
}
.m_lamp:nth-child(3) .m_lamp_ani {
	transform: scale(.7)
}
/* 나무 */
.m_tree {
    position: absolute;
    background-image: url("main/tree_470_377.png");
    transform-origin: 50% 100%;
    animation-name: m_wobble;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}
.m_tree:nth-child(3n+1) {
    animation-delay: .7s
}
.m_tree:nth-child(3n+2) {
    animation-delay: 1.4s
}
#m_tree0 .m_tree:nth-child(1) {
    top: 142px; left: 886px;
    width: 42px; height: 62px;
    background-position: -390px -222px;
}
#m_tree0 .m_tree:nth-child(2) {
    top: 142px; left: 846px;
    width: 38px; height: 55px;
    background-position: -356px -294px;
}
#m_tree0 .m_tree:nth-child(3) {
    top: 137px; left: 814px;
    width: 25px; height: 58px;
    background-position: -432px -222px;
}
#m_tree0 .m_tree:nth-child(4) {
    top: 137px; left: 764px;
    width: 38px; height: 55px;
    background-position: -356px -294px;
}
#m_tree0 .m_tree:nth-child(5) {
    top: 135px; left: 736px;
    width: 25px; height: 58px;
    background-position: -432px -222px;
}
#m_tree0 .m_tree:nth-child(6) {
    top: 130px; left: 670px;
    width: 42px; height: 62px;
    background-position: -390px -222px;
}
#m_tree0 .m_tree:nth-child(7) {
    top: 125px; left: 632px;
    width: 47px; height: 70px;
    background-position: -394px -284px;
}
#m_tree0 .m_tree:nth-child(8) {
    top: 132px; left: 607px;
    width: 42px; height: 62px;
    background-position: -390px -222px;
}
#m_tree0 .m_tree:nth-child(9) {
    top: 126px; left: 551px;
    width: 47px; height: 70px;
    background-position: -394px -284px;
}
#m_tree0 .m_tree:nth-child(10) {
    top: 133px; left: 497px;
    width: 29px; height: 73px;
    background-position: -441px -280px;
}
#m_tree0 .m_tree:nth-child(11) {
    top: 125px; left: 436px;
    width: 35px; height: 83px;
    background-position: -321px -294px;
}
#m_tree0 .m_tree:nth-child(12) {
    top: 155px; left: 390px;
    width: 36px; height: 63px;
    background-position: -285px -291px;
}
#m_tree0 .m_tree:nth-child(13) {
    top: 130px; left: 290px;
    width: 72px; height: 105px;
    background-position: -75px -233px;
}
#m_tree0 .m_tree:nth-child(14) {
    top: 142px; left: 268px;
    width: 42px; height: 101px;
    background-position: -348px -193px;
}
#m_tree0 .m_tree:nth-child(15) {
    top: 156px; left: 205px;
    width: 63px; height: 98px;
    background-position: -285px -193px;
}
#m_tree0 .m_tree:nth-child(16) {
    top: 138px; left: 136px;
    width: 75px; height: 125px;
    background-position: 0px -233px;
}
#m_tree0 .m_tree:nth-child(17) {
    top: 142px; left: 76px;
    width: 62px; height: 148px;
    background-position: -147px -191px;
}
#m_tree0 .m_tree:nth-child(18) {
    top: 186px; left: 18px;
    width: 72px; height: 105px;
    background-position: -75px -233px;
}
#m_tree0 .m_tree:nth-child(19) {
    top: 210px; left: -8px;
    width: 75px; height: 125px;
    background-position: 0px -233px;
}
#m_tree0 .m_tree:nth-child(20) {
    top: 157px; left: 1106px;
    width: 89px; height: 137px;
    background-position: -374px 0px;
}
#m_tree1 .m_tree:nth-child(1) {
    top: 334px; left: -11px;
    width: 123px; height: 191px;
    background-position: -140px 0px;
}
#m_tree1 .m_tree:nth-child(2) {
    top: 204px; left: 1180px;
    width: 111px; height: 193px;
    background-position: -263px 0px;
}
#m_tree2 .m_tree:nth-child(1) {
    top: 492px; left: -69px;
    width: 140px; height: 233px;
    background-position: 0px 0px;
}
/* 워킹맨 */
.m_walking_man {
    position: absolute;
    background-image: url("main/woman_ani_n_n.png");
    top: 730px; left: 603px;
    width: 124px; height: 208px;
    background-position: 0px 0px;
    animation-delay: .2s
}
/* 사람 */
.m_women {
    position: absolute;
    background-image: url("main/woman_226_309.png");
}
#m_women0 .m_women:nth-child(1) {
    top: 310px; left: 590px;
    width: 55px; height: 116px;
    background-position: -171px 0px;
    animation-delay: 1s
}
#m_women0 .m_women:nth-child(2) {
    top: 212px; left: 830px;
    width: 68px; height: 115px;
    background-position: -154px -147px;
    animation-delay: 1.2s
}
#m_women0 .m_women:nth-child(3) {
    top: 246px; left: 142px;
    width: 60px; height: 126px;
    background-position: -94px -147px;
    animation-delay: 1.4s
}
#m_women1 .m_women:nth-child(1) {
    top: 520px; left: 848px;
    width: 89px; height: 133px;
    background-position: 0px -176px;
    animation-delay: .4s
}
#m_women1 .m_women:nth-child(2) {
    top: 485px; left: 343px;
    width: 94px; height: 176px;
    background-position: 0px 0px;
    animation-delay: .6s
}
#m_women1 .m_women:nth-child(3) {
    top: 453px; left: 1203px;
    width: 77px; height: 147px;
    background-position: -94px 0px;
    animation-delay: .8s
}
/* 오브젝트 */
.m_object {
    position: absolute;
    background-image: url("main/object_220_119.png");
}
#m_object1 .m_object:nth-child(1) {
    top: 520px; left: 799px;
    width: 49px; height: 109px;
    background-position: -122px 0px;
    animation-delay: 1s
}
#m_object2 .m_object:nth-child(1) {
    top: 820px; left: 743px;
    width: 122px; height: 114px;
    background-position: 0px 0px;
    animation-delay: .6s
}
/* 낙엽 떨어지는 */
.m_leaf {
    position: absolute;
    animation-timing-function: linear;
    animation-duration: 15s;
    animation-fill-mode: forwards;
    opacity: 0
}
.m_leaf::before {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(main/leaf_116_42.png);
    content: '';
    animation-name: waves;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}
.m_leaf:nth-child(2n)::before { /* 낙엽 이미지1, 애니속도1 */
    width: 51px;
    height: 42px;
    background-position: 0px 0px;
    animation-duration: 2s;
    animation-delay: 1s
}
.m_leaf:nth-child(2n + 1)::before { /* 낙엽 이미지2, 애니속도2 */
    width: 65px;
    height: 41px;
    background-position: -51px 0px;
    animation-duration: 2s;
}
.m_leaf:nth-child(3n)::before { /* 웨이브 강도1 */
    transform-origin: 50% -180%;
}
.m_leaf:nth-child(3n + 1)::before { /* 웨이브 강도2 */
    transform-origin: 50% -90%;
}
.m_leaf:nth-child(3n + 2)::before { /* 웨이브 강도3 */
    transform-origin: 50% 0%;
}
.m_falled::before { /* 낙엽 웨이브 정지 */
    animation-play-state: paused
}
#m_leaf0 .m_leaf:nth-child(1) {
    top: 294px;
    left: -94px;
}
#m_leaf0 .m_leaf:nth-child(2) {
    top: 285px;
    left: -62px;
}
#m_leaf0 .m_leaf:nth-child(3) {
    top: 277px;
    left: -35px;
}
#m_leaf0 .m_leaf:nth-child(4) {
    top: 272px;
    left: 8px;
}
#m_leaf0 .m_leaf:nth-child(5) {
    top: 262px;
    left: 132px;
}
#m_leaf0 .m_leaf:nth-child(6) {
    top: 261px;
    left: 145px;
}
#m_leaf0 .m_leaf:nth-child(7) {
    top: 257px;
    left: 171px;
}
#m_leaf0 .m_leaf:nth-child(8) {
    top: 255px;
    left: 168px;
}
#m_leaf0 .m_leaf:nth-child(9) {
    top: 241px;
    left: 299px;
}
#m_leaf0 .m_leaf:nth-child(10) {
    top: 242px;
    left: 312px;
}
#m_leaf0 .m_leaf:nth-child(11) {
    top: 232px;
    left: 342px;
}
#m_leaf0 .m_leaf:nth-child(12) {
    top: 229px;
    left: 354px;
}
#m_leaf0 .m_leaf:nth-child(13) {
    top: 226px;
    left: 370px;
}
#m_leaf0 .m_leaf:nth-child(14) {
    top: 200px;
    left: 460px;
}
#m_leaf0 .m_leaf:nth-child(15) {
    top: 191px;
    left: 594px;
}
#m_leaf0 .m_leaf:nth-child(16) {
    top: 187px;
    left: 606px;
}
#m_leaf0 .m_leaf:nth-child(17) {
    top: 190px;
    left: 614px;
}
#m_leaf0 .m_leaf:nth-child(18) {
    top: 184px;
    left: 653px;
}
#m_leaf0 .m_leaf:nth-child(19) {
    top: 181px;
    left: 700px;
}
#m_leaf0 .m_leaf:nth-child(20) {
    top: 182px;
    left: 708px;
}
#m_leaf0 .m_leaf:nth-child(21) {
    top: 186px;
    left: 717px;
}
#m_leaf0 .m_leaf:nth-child(22) {
    top: 187px;
    left: 777px;
}
#m_leaf0 .m_leaf:nth-child(23) {
    top: 206px;
    left: 933px;
}
#m_leaf0 .m_leaf:nth-child(24) {
    top: 195px;
    left: 964px;
}
#m_leaf0 .m_leaf:nth-child(25) {
    top: 205px;
    left: 965px;
}
#m_leaf0 .m_leaf:nth-child(26) {
    top: 196px;
    left: 975px;
}
#m_leaf0 .m_leaf:nth-child(27) {
    top: 264px;
    left: 1167px;
}
#m_leaf0 .m_leaf:nth-child(28) {
    top: 271px;
    left: 1177px;
}
#m_leaf0 .m_leaf:nth-child(29) {
    top: 264px;
    left: 1176px;
}
#m_leaf0 .m_leaf:nth-child(30) {
    top: 247px;
    left: 1248px;
}
#m_leaf0 .m_leaf:nth-child(31) {
    top: 255px;
    left: 1299px;
}
#m_leaf0 .m_leaf:nth-child(32) {
    top: 269px;
    left: 1324px;
}
#m_leaf0 .m_leaf:nth-child(33) {
    top: 266px;
    left: 1361px;
}
#m_leaf0 .m_leaf:nth-child(34) {
    top: 272px;
    left: 1385px;
}
#m_leaf0 .m_leaf:nth-child(35) {
    top: 283px;
    left: 1499px;
}
#m_leaf0 .m_leaf:nth-child(36) { /* 여기까지 스케일 .5 */
    top: 288px;
    left: 1487px;
}
#m_leaf0 .m_leaf:nth-child(37) {
    top: 293px;
    left: 125px;
}
#m_leaf0 .m_leaf:nth-child(38) {
    top: 290px;
    left: 132px;
}
#m_leaf0 .m_leaf:nth-child(39) {
    top: 298px;
    left: 172px;
}
#m_leaf0 .m_leaf:nth-child(40) {
    top: 279px;
    left: 334px;
}
#m_leaf1 .m_leaf:nth-child(1) {
    top: 359px;
    left: -125px;
}
#m_leaf1 .m_leaf:nth-child(2) {
    top: 374px;
    left: 2px;
}
#m_leaf1 .m_leaf:nth-child(3) {
    top: 347px;
    left: 46px;
}
#m_leaf1 .m_leaf:nth-child(4) {
    top: 343px;
    left: 38px;
}
#m_leaf1 .m_leaf:nth-child(5) {
    top: 304px;
    left: 1192px;
}
#m_leaf1 .m_leaf:nth-child(6) {
    top: 300px;
    left: 1210px;
}
#m_leaf1 .m_leaf:nth-child(7) {
    top: 390px;
    left: 1287px;
}
#m_leaf1 .m_leaf:nth-child(8) {
    top: 347px;
    left: 1314px;
}
#m_leaf1 .m_leaf:nth-child(9) {
    top: 350px;
    left: 1319px;
}
#m_leaf1 .m_leaf:nth-child(10) {
    top: 344px;
    left: 1330px;
}
#m_leaf1 .m_leaf:nth-child(11) {
    top: 400px;
    left: 1307px;
}
#m_leaf1 .m_leaf:nth-child(12) {
    top: 394px;
    left: 1461px;
}
#m_leaf1 .m_leaf:nth-child(13) {
    top: 498px;
    left: 28px;
}
#m_leaf1 .m_leaf:nth-child(14) {
    top: 494px;
    left: 59px;
}
#m_leaf1 .m_leaf:nth-child(15) {
    top: 489px;
    left: 133px;
}
#m_leaf1 .m_leaf:nth-child(16) {
    top: 535px;
    left: 114px;
}
#m_leaf1 .m_leaf:nth-child(17) {
    top: 492px;
    left: 321px;
}
#m_leaf1 .m_leaf:nth-child(18) {
    top: 488px;
    left: 342px;
}
#m_leaf1 .m_leaf:nth-child(19) {
    top: 487px;
    left: 359px;
}
#m_leaf1 .m_leaf:nth-child(20) {
    top: 486px;
    left: 372px;
}
#m_leaf1 .m_leaf:nth-child(21) { /* 여기까지 스케일 .75 */
    top: 481px;
    left: 366px;
}
#m_leaf1 .m_leaf:nth-child(22) {
    top: 722px;
    left: -116px;
}
#m_leaf1 .m_leaf:nth-child(23) {
    top: 701px;
    left: -103px;
}
#m_leaf1 .m_leaf:nth-child(24) {
    top: 679px;
    left: -25px;
}
#m_leaf1 .m_leaf:nth-child(25) {
    top: 695px;
    left: 23px;
}
#m_leaf1 .m_leaf:nth-child(26) {
    top: 686px;
    left: 72px;
}
#m_leaf2 .m_leaf:nth-child(1) {
    top: 765px;
    left: 1185px;
}
#m_leaf2 .m_leaf:nth-child(2) {
    top: 769px;
    left: 1213px;
}
#m_leaf2 .m_leaf:nth-child(3) {
    top: 703px;
    left: 1259px;
}
#m_leaf2 .m_leaf:nth-child(4) {
    top: 690px;
    left: 1265px;
}
#m_leaf2 .m_leaf:nth-child(5) {
    top: 694px;
    left: 1298px;
}
#m_leaf2 .m_leaf:nth-child(6) {
    top: 676px;
    left: 1322px;
}
#m_leaf2 .m_leaf:nth-child(7) {
    top: 666px;
    left: 76px;
}
#m_leaf3 .m_leaf:nth-child(1) {
    top: 873px;
    left: -111px;
}
#m_leaf3 .m_leaf:nth-child(2) {
    top: 822px;
    left: 89px;
}
#m_leaf3 .m_leaf:nth-child(3) {
    top: 831px;
    left: 69px;
}
#m_leaf3 .m_leaf:nth-child(4) {
    top: 774px;
    left: 1316px;
}
#m_leaf3 .m_leaf:nth-child(5) {
    top: 793px;
    left: 1312px;
}
#m_leaf3 .m_leaf:nth-child(6) {
    top: 795px;
    left: 1385px;
}
#m_leaf3 .m_leaf:nth-child(7) {
    top: 792px;
    left: 1409px;
}

/* **************** */
/* 애니매이션 키프레임 */
/* **************** */
/* 사람 등장 */
@keyframes m_flipInY {
  0% {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  100% {
    opacity: 1;
    transform: perspective(400px);
  }
}
.m_women {
  opacity: 0;
  animation-name: m_flipInY;
  animation-duration: .75s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
/* 상점 등장 */
@keyframes m_bounceIn {

  0% {
    opacity: 0;
    transform: scale(.8);
  }

  20% {
    transform: scale(1.05);
  }

  40% {
    transform: scale(.95);
  }

  60% {
    opacity: 1;
    transform: scale(1.025);
  }

  80% {
    transform: scale(.975);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.m_object, .m_shop {
/*  animation: m_bounceIn 1s ease;*/
  opacity: 0;
  animation-name: m_bounceIn;
  animation-duration: .75s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
/* 기타오브젝트 등장 */
@keyframes m_bounceInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -200px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
/* 명품 & 키즈 & 푸드 애니메이션 */
@keyframes m_shake {
  0%, 100% {
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(0, -5px, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(0, 5px, 0);
  }
}
/* 의류 애니메이션 */
@keyframes m_flip {
  0% {
    transform: skew(0);
  }
  20% {
    transform: skew(-18deg);
  }
  55% {
    transform: skew(12deg);
  }
  80% {
    transform: skew(-7deg);
  }
  95% {
    transform: skew(3deg);
  }
  100% {
    transform: skew(0);
  }
}
/* 홈 & 어바웃 & 생활 & 스페셜 애니매이션 */
@keyframes m_rubberBand {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}
/* 나무가 살랑살랑 */
@keyframes m_wobble {
  0% {
    transform: skew(0);
  }
  20% {
    transform: skew(-4deg);
  }
  40% {
    transform: skew(-2deg);
  }
  70% {
    transform: skew(-6deg);
  }
  100% {
    transform: skew(0);
  }
}
/* 포커스 마우스오버 */
@keyframes m_scale1 {
    100% {
        transform: scale(1)
    }
}
.m_focus {
    opacity: 1; transform: scale(.97);
    animation: m_scale1 .1s ease forwards;
    animation-delay: 0s !important
}
/* 블로 마우스리브 */
@keyframes m_scale2 {
    100% {
        transform: scale(.97)
    }
}
.m_blur {
    opacity: 1; transform: scale(1);
    animation: m_scale2 .1s ease forwards;
    animation-delay: 0s !important
}
@keyframes falling1 {
    0% {
        transform: translateY(-900px) scale(.35);
        opacity: 1
    }
    100% {
        transform: translateY(0px) scale(.35);
        opacity: 1
    }
}
@keyframes falling2 {
    0% {
        transform: translateY(-900px) scale(.45);
        opacity: 1
    }
    100% {
        transform: translateY(0px) scale(.45);
        opacity: 1
    }
}
@keyframes falling3 {
    0% {
        transform: translateY(-900px) scale(.7);
        opacity: 1
    }
    100% {
        transform: translateY(0px) scale(.7);
        opacity: 1
    }
}
@keyframes waves {
    from {
        transform: translateX(-25px) rotate(30deg)
    }
    to {
        transform: translateX(25px) rotate(-30deg)
    }
}
@keyframes lamp {
    0%, 100% {
        transform: translateX(0px)
    }
    12.5%, 37.5%, 62.5%, 87.5% {
        transform: translateX(-134px)
    }
    25%, 50%, 75% {
        transform: translateX(-268px)
    }
}
@keyframes light {
    0%, 100% {
        transform: translateY(0px)
    }
    25% {
        transform: translateY(-16px)
    }
    50% {
        transform: translateY(-32px)
    }
    75% {
        transform: translateY(-48px)
    }
}